<div class="container-fluid">
  <% if @login_failed then %>
    <div class="row alert alert-danger">
      <p>
        <span class="glyphicon glyphicon-exclamation-sign"> 
        Wrong combination of username and password!
      </p>
    </div>  
  <% end %>
  <div class="row">   
    <h2>Please sign in:</h2>
  </div>
  <div class="row">
    <form action="login" method="POST">
      <div class="well well-lg">
        <input type="text" name="login" placeholder="Username" autofocus><br>
        <input type="password" name="password" placeholder="Password">
      </div>  
      <input class="btn btn-default" type="submit" name="submit" value="Sign in">
      <input class="btn btn-primary" type="submit" name="submit" value="Register">
    </form>
  </div>  
</div>