<div class="container-fluid">
  <% if @reg_failed then %>
    <div class="row alert alert-danger">
      <p>
        <span class="glyphicon glyphicon-exclamation-sign"> 
        <%= @reg_fail_message %>
      </p>
    </div>
  <% end %>  
  <div class="row">
    <h2>Please select your username (login) and password</h2>
  </div>
  <div class="row">
    <form action="register" method="POST">
      <div class="well well-lg">
        <input type="text" name="login" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="password" name="confirm" placeholder="Confirm password">
      </div>
      <input class="btn btn-primary" type="submit" name="submit" value="Confirm">
      <input class="btn btn-default" type="submit" name="submit" value="Back">
    </form>
  </div>
</div>